:root {
	--ff-ls:'League Spartan', sans-serif;

	--clr-very-dark-magenta: hsl(300, 43%, 22%);
	--clr-soft-pink: hsl(333, 80%, 67%);
	--clr-dark-grayish-magenta: hsl(300, 8%, 34%);
	--clr-light-grayish-magenta: hsl(300, 24%, 96%);
	--clr-white: hsl(0, 0%, 100%);

	--fw-regular: 400;
	--fw-medium: 500;
	--fw-bold: 700;

	--fs-15: 0.9375rem;;
	--fs-16: 1rem;
	--fs-32: 2rem;
	--fs-45: 2.813rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
	box-sizing: border-box;
}
/*
	2. Remove default margin
*/
* {
	margin: 0;	
}
/*
	Typographic tweaks!
	3. Add accessible line-height
	4. Improve text rendering
*/
body{
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
/*
	5. Improve media defaults
*/
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
	font-style: italic;
}
/*
	6. Remove built-in form typography styles
*/
input, button, textarea, select {
	font: inherit;
}
/*
	7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
/*
	8. Screen reader
*/
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border-width: 0;
}

body {
	font-family: var(--ff-ls);
	color: var(--clr-white);
	background-image:
	 url(images/bg-pattern-top-desktop.svg),
	 url(images/bg-pattern-bottom-desktop.svg);
	 background-position: top left, bottom right;
	background-repeat: no-repeat;
	background-size: max(50%, 370px), max(50%, 370px);
	min-height: 100vh;
}

.container {
	max-width: 30rem;
	margin: 0 auto;
	padding: 1rem;
}

.flex-group	{
	display: flex;
}

.intro {
	text-align: center;
}
.intro .title {
	font-size: var(--fs-32);
	font-weight: bold;
	color: var(--clr-very-dark-magenta);
	line-height: 1.1;
}
.intro p {
	color: var(--clr-dark-grayish-magenta);
	margin: 1rem 0;
}

.aside {
	margin: 2rem 0;
}

.rating {
	background-color: var(--clr-light-grayish-magenta);
	padding: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	margin-bottom: 1rem;
	border-radius: 8px;
}
.rating-icons {
	gap: .4rem;
	height: 18px;
	justify-content: center;
}
.rating p {
	color: var(--clr-very-dark-magenta);
	font-weight: var(--fw-bold);
}

.product-testimonials {
	display: grid;
	gap: 2rem;
	align-items: start;
}
.testimonial {
	background-color: var(--clr-very-dark-magenta);
	height: 100%;
	border-radius: .4rem;
	padding: 1.8rem;
}
.testimonial img {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
.testimonial-intro{
	line-height: 1.2;
}
.testimonial-intro :nth-child(1) {
	font-weight: var(--fw-bold);
}
.testimonial-intro :nth-child(2) {
	color: var(--clr-soft-pink);
}
.testimonial .flex-group {
	gap: 1.5rem;
	align-items: center;
	margin-bottom: 1.2rem;
}

@media (min-width: 54rem) {
	.container {
		max-width: 75rem;
		padding: 3rem;
	}
	.upper-section {
		display: grid;
		gap: 3rem;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 2rem;
	}
	.intro {
		text-align: left;
		max-width: 25rem;
	}
	.aside {
		justify-self: end;
		align-self: end;
	}
	.intro .title {
		font-size: var(--fs-45);
	}
	.rating{
		flex-direction: row;
		flex-wrap: wrap;
		padding: .8rem 3rem .8rem 1rem;
    gap: 1.5rem;
	}
	.rating1 {
		transform: translateX(-4rem);
	}
	.rating2 {
		transform: translateX(-2rem);
	}
	.product-testimonials {
		grid-template-columns: repeat(3, 1fr);
	}
	figure:nth-of-type(2) {
		transform: translateY(1rem);
	}
	figure:nth-of-type(3) {
		transform: translateY(2rem);
	}
}

.attribution {
	text-align: center;
	color: var(--clr-dark-grayish-magenta);
	margin-top: 1rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}